In [1]:
import boto3
import pandas as pd
from io import StringIO
import time

In [2]:
AWS_ACCESS_KEY = "AKIA3GW7WQUV4VF4QIGR"
AWS_SECRET_KEY = "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"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "gwar_project"
S3_STAGING_DIR = "s3://gwaroutputbucket/output/"
S3_BUCKET = "gwaroutputbucket"
S3_OUTPUT_DIRECTORY="output"

In [3]:
# conect to Athena
athena_client = boto3.client(
    "athena",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
)

In [4]:
Dict = {}
def download_and_load_query_results(client: boto3.client, query_response: Dict)->pd.DataFrame: 
    while True:
        try:
            #This function only loads the first 1000 rows 
            client.get_query_results(QueryExecutionId = query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err): 
                time.sleep(0.001) 
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv" 
    s3_client = boto3.client("s3", 
                             aws_access_key_id=AWS_ACCESS_KEY, 
                             aws_secret_access_key=AWS_SECRET_KEY, 
                             region_name=AWS_REGION,
    )
    s3_client.download_file( 
        S3_BUCKET,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv", 
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [9]:
response = athena_client.start_query_execution ( 
    QueryString="SELECT * FROM table1",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={ 
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [10]:
response

{'QueryExecutionId': '268f8a6d-6c8b-417f-ad2f-a7362e7f47f1',
 'ResponseMetadata': {'RequestId': '4ec6f3fe-3b17-4489-9e62-08387d80ca15',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Mon, 06 May 2024 03:49:01 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '4ec6f3fe-3b17-4489-9e62-08387d80ca15'},
  'RetryAttempts': 0}}

In [11]:
w = download_and_load_query_results(athena_client, response)

In [12]:
w.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col47,col48,col49,col50,col51,col52,col53,col54,col55,col56
0,State,1970.000000,1971.000000,1972.000000,1973.000000,1974.000000,1975.000000,1976.000000,1977.000000,1978.000000,...,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,Percent,Absolute,Percent,Absolute
1,Alabama,102.646851,98.461114,104.932504,109.563135,108.777543,107.779346,108.089155,111.683852,106.629516,...,113.986483,108.594556,112.355761,106.254617,98.431803,108.392103,5.59710463582326%,5.74525167636456,10.1189853149341%,9.96029972315293
2,Alaska,11.348910,12.636423,13.420588,12.490564,12.779110,14.524477,15.969357,17.950301,19.482875,...,33.405683,33.731095,34.515445,34.276830,35.977743,38.872526,242.522119616409%,27.5236163771865,8.04603751417288%,2.89478272732605
3,Arizona,24.906189,26.998731,30.179241,34.448720,36.737072,38.221132,43.777153,50.500706,49.284884,...,90.860970,90.480865,94.099855,92.555687,80.153897,83.024267,233.347939210259%,58.1180782281891,3.58107418274818%,2.87037049413615
4,Arkansas,36.178889,35.091287,37.189109,40.829866,39.112512,36.365524,38.857529,41.649053,42.418586,...,62.127003,64.176360,70.785991,65.073337,54.749619,62.024941,71.43959742462%,25.8460524092811,13.2883525635497%,7.27532236078852